*{
    margin: 0;
}
.img-principal{
    width: 100vw;
    opacity: 0.5;
}
.img-principal:hover{
    opacity: 1;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 250px;
}
.img-galeria{
    width: 250px;
}
.img-galeria:hover{
    opacity: 0.3;
    cursor: pointer;
}