.contenedor-hiden{
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: hidden;
}
.contenedor-scroll{
    margin: 10px 0;
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: scroll;
}
.contenedor-visible{
    margin: 10px 0;
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: visible;
}
.contenedor-auto{
    margin: 10px 0;
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow: auto;
}
.contenedor-scroll-x{
    margin: 10px 0;
    background-color: bisque;
    height: 100px;
    width: 300px;
    padding: 15px;
    overflow-y: scroll;
    overflow-x:hidden;
}